body {
  margin: 0;
  padding: 0;
  background: rgb(34,126,195);
background: linear-gradient(0deg, rgb(103, 176, 231) 0%, rgb(236, 142, 255) 100%);
height: 700px;
}


.particles{
  position: fixed;
  z-index: -1;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  display: flex;
  justify-content: center;
}

button{
  cursor: pointer;
}